body {
    /* outline: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #677DB7;
    overflow: hidden;
}


.border-1 {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #473e53, #2E2836);
    border: 6px solid silver;
    border-radius: 18px;
    height: 95vh;
    margin-bottom: 0px;
    font-family: Silkscreen;
    color: #dde2f0;
    font-size: 2em;
    align-items: center;
    margin: auto;
    box-shadow: 8px 10px 30px rgb(39, 38, 38);
}



#gnocchia {
    border-top: 4px dashed #dde2f0;
    border-bottom: 4px dashed #dde2f0;
}

.border-2 {
    border: 8px solid rgb(32, 32, 32);
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
    margin: 0px 8px 0px 8px;
}

.screen {
    width: 55vmin;
    height: 50vmin;
    display: flex;
    flex-direction: column;
    background: #262730;
    border-radius: 10px;
}
.game-header {
    font-family: Silkscreen;
    color: #dde2f0;
    font-size: 1em;
    padding: .75em;
    padding-top: 0px;
    font-size: .6em;
    display: flex;
    justify-content: space-between;
    height: 12px;
}
.game-board {
    width: 100%;
    height: 100%;
    background: #77BA99;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
    /* Source for grid and "fr" unit: https://www.digitalocean.com/community/tutorials/css-css-grid-layout-fr-unit */
}
.game-board .target {
    background-color: #DF2935;
}
.game-board .player1 {
    background-color: #657ED4;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #fefefe00;
    margin: 15% auto;
    padding: 20px;
    width: 50%;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 38px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.controls {
    padding: 4px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.controls i {
    /* Credit for scaling idea to prevent buttons from being cut off: Jeremy "screamkitty" on Discord. */
    transform: scale(75%);
    transform-origin: top;
    box-shadow: 0 9px #999;
    padding: 12px;
    margin: 12px;
    width: 2em;
    color: #dde2f0;
    border: 1px solid #dde2f0;
    border-radius: 15px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
}
.controls i:hover {
    background-color: #657ED4;
}
.controls i:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px) scale(75%);
}

.top-row {
    width: 100%;
    text-align: center;
    height: 30%;
    padding-top: 0;
}

.mid-row {
    display: flex;
    text-align: center;
    height: 35%;
    justify-content: space-around;
    align-items: center;
    
}

.mid-row i {
    justify-content: space-around;
}

.bottom-row {
    width: 100%;
    text-align: center;
    height: 30%;
}

#snakeGif {
    position: absolute;
    bottom: 12%;
    left: 48%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    justify-content: center;
}

@media only screen and (max-width: 1024px) and (min-width: 769px){
    #snakeGif {
        display: none;
    }
    body, html {
        margin: 0;
        padding: 0;
    }

    .border-1 {
        height: 90vh;
        width: 80vw;
        border-radius: 0px;
        margin: 0;
    }
    #gnocchia {
        font-size: 1.2em;
    }
    .game-header {
        font-size: 1.4em;
        padding: .4em;
        height: .4em;
    }
    .border-2 {
        height: 80%;
        width: 85%;
        max-height: 45vh;
    }
    .screen {
        width: 100%;
        height: 100%;
    }
    .current-score {
        font-size: .5em;
    }
    .high-score {
        font-size: .5em;
    }
    .controls {
        flex-grow: 1;
    }
    .top-row {
        flex: 1;
    }
    .top-row i {
        width: 60%;
        height: 60%;
    }
    .mid-row {
        justify-content: stretch;
        margin-top: 0px;
        margin-bottom: 0px;
        flex: 1;
    }
    .mid-row i {
        width: 100%;
        height: 60%;
    }
    .bottom-row {
        flex: 1;
        margin-bottom: 12px;
    }
    .bottom-row i {
        width: 60%;
        height: 60%;
    }
    .fa-angle-right:before {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .fa-angle-left:before {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .fa-angle-up:before {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .fa-angle-down:before {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .modal {
        max-width: 100%;
    }
    .modal-content {
        width: 80%;
        max-width: 80%;
    }
    .giphy-embed {
        width: 100%;
    }
}

@media (max-width: 768px) {
    #snakeGif {
        display: none;
    }
    body, html {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .border-1 {
        height: 98vh;
        width: 100vw;
        border-radius: 0px;
        margin: 0;
    }
    #gnocchia {
        font-size: .5em;
    }
    .game-header {
        font-size: 0.8em;
        padding: 8px;
        height: .4em;
    }
    .border-2 {
    height: 80%;
    width: 85%;
    max-height: 40vh;
    margin-bottom: 12px;
    }
    .screen {
        width: 100%;
        height: 100%;
    }
    .current-score {
        font-size: .5em;
    }
    .high-score {
        font-size: .5em;
    }
    .controls {
        flex-grow: 1;
    }
    .top-row {
        flex: 1;
    }
    .top-row i {
        width: 60%;
        height: 60%;
    }
    .mid-row {
        justify-content: stretch;
        margin-top: 0px;
        margin-bottom: 0px;
        flex: 1;
    }
    .mid-row i {
        width: 100%;
        height: 60%;
    }
    .bottom-row {
        flex: 1;
        margin-bottom: 12px;
    }
    .bottom-row i {
        width: 60%;
        height: 60%;
    }
    .fa-angle-right:before {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .fa-angle-left:before {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .fa-angle-up:before {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .fa-angle-down:before {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .modal {
        max-width: 100%;
    }
    .modal-content {
        width: 80%;
        max-width: 80%;
    }
    .giphy-embed {
        width: 100%;
    }
}